body {
  background: #f9f7fe;
}
header {
  margin-bottom: 30px;
}
h1 {
  font-size: 40px;
}
footer {
  text-align: center;
  margin-top: 25px;
}
h1,
.temperature {
  font-family: "Oswald", sans-serif;
}
p,
footer {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.container {
  border: none;
  border-radius: 8px;
  margin: 50px 400px 0;
  padding: 30px 50px 20px 30px;
  background: white;
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.03);
}
.search-bar {
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 75%;
}
.search-button {
  background: #885df1;
  color: white;
  border: 1px solid #885df1;
  border-radius: 5px;
  padding: 13px;
  margin-left: 5px;
}
.temperature {
  display: flex;
  justify-content: right;
}
.temperature-icon {
  position: relative;
  bottom: 110px;
  right: 15px;
  font-size: 45px;
}
.temperature-value {
  position: relative;
  bottom: 140px;
  right: 5px;
  font-size: 80px;
  font-weight: bold;
}
.temperature-degrees {
  position: relative;
  bottom: 120px;
  font-size: 35px;
}

.humidity-wind-data {
  color: #f65282;
}
.current-weather {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
